<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
            <p><strong>Username</strong>: {{profile.username}}</p>
            <br>
            <p><strong>Age</strong>: {{profile.age}}</p>
            <br>
            <p><strong>Gender</strong>: {{profile.gender}}</p>
            <pbr>
            <p><strong>Looking For</strong>: {{profile.lookingFor}}</p>
            <br>
            <p><strong>Interests</strong>: {{profile.intrests}}</p>
            <br>
            <p><strong>About Me</strong>: {{profile.aboutMe}}</p>
            <br>
            
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>