<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title"></h5>
            <p><strong>Email</strong>: {{profile.email}}</p>
            <br>
            <p><strong>Username</strong>: {{profile.username}}</p>
            <br>
            <p><strong>Gender</strong>: {{profile.gender}}</p>
            <br>
            <p><strong>Looking For</strong>: {{profile.lookingFor}}</p>
            <br>
            <p><strong>Interests</strong>: {{profile.intrests}}</p>
            <br>
            <p><strong>About Me</strong>: {{profile.aboutMe}}</p>
            <br>


            <!-- Modal -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Update Profile</h3>
              </div>
              <div class="modal-body">
                <form class="clearfix mb-4" action="POST">
                  <div class="form-group">
                    <label for="gender-text">Gender</label>
                    <select class="answer" id="gender-text">
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="username-text">Username</label>
                    <input type="text" id="username-text" class="form-control" aria-describedby="username-text"
                    placeholder="Enter Username">
                  </div>
                  <div class="form-group">
                    <label for="looking-for-text">Looking For</label>
                    <select id="looking-for-text">
                      <option value="friendship">Friendship</option>
                      <option value="relationship">Relationship</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="interests-text">Interests</label>
                    <input type="text" id="interests-text" class="form-control" aria-describedby="interests-text"
                    placeholder="Enter Interests">
                  </div>
                  <div class="form-group">
                    <label for="about-me-description">About Me</label>
                    <textarea class="form-control" id="about-me-description" aria-describedby="about-me-description"
                    placeholder="Enter About Yourself"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button id="save-changes" class="btn btn-primary">Save changes</button>
              </div>
            </div>

            <a href= "#myModal"  role="button" class="btn" data-toggle="modal">Update Profile</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- insert random profiles -->



<!-- Insert user reviews -->